[submodule ".registry"]
	path = .registry
	url = https://github.com/aariq/universe
	shallow = true
	branch = HEAD
[submodule "mynotebooks"]
	path = mynotebooks
	url = https://github.com/Aariq/mynotebooks
	shallow = true
	registered = true
[submodule "chemhelper"]
	path = chemhelper
	url = https://github.com/Aariq/chemhelper
	shallow = true
	registered = true
[submodule "bdffpRain"]
	path = bdffpRain
	url = https://github.com/BrunaLab/bdffpRain
	shallow = true
	registered = true
[submodule "webchem"]
	path = webchem
	url = https://github.com/ropensci/webchem
	shallow = true
	registered = true
[submodule "holodeck"]
	path = holodeck
	url = https://github.com/Aariq/holodeck
	shallow = true
	registered = true
[submodule "PEcAn.logger"]
	path = PEcAn.logger
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/logger
	registered = true
[submodule "PEcAn.remote"]
	path = PEcAn.remote
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/remote
	registered = true
